# Python
__pycache__/
*.py[cod]
*.so

# Virtual Envs
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints/

# Data
*.zip
*.tar.gz
*.tar
*.h5
*.pth
*.pt
runs/
output/
inference_results/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
